<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0beac2d065.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.component.css">
    <script src="js/script.js"></script>
    <title>Inicio</title>
</head>

<body>
    <header>
        <div class="cabecera">
            <img class="logo" src="../../../assets/img/logo.png" alt="">
            <img class="logosilabo" src="../../../assets/img/silabo.png" alt="">
            <h2>Automatización de sílabos ULEAM</h2>
        </div>
        <div class="cabecera2">
            <div class="funciones">
                <a class="ini-reg" routerLink="/iniciosesion"> Iniciar sesión</a>
                <a class="ini-reg" routerLink="/registro">Registrarse</a>
            </div>
        </div>
    </header>
    <div class="portada">
        <img class="img-port" src="../../../assets/img/silabo.png" alt="">
    </div>
    <div class="informacion">
        <p>EL SISTEMA DE AUTOMATIZACION DE SILABOS DE LA UNIVERSIDAD LAICA ELOY ALFARO DE MANABÍ ES UN SITIO WEB EN DONDE SE ALOJAN LOS SILABOS DE LOS DOCENTEs, AQUI PUEDES INTERACTURAR, DESCARGAR Y LEER SUS CONTENIDOS</p>
    </div>

    <footer>
        <div class="grid-container">
            <div class="info">
                <h4>Sobre nosostros</h4>
                <a routerLink="/sobrenosotros" style="text-decoration: none; color: #000;"> ¿Quienes somos?</a> <br>
                <a routerLink="/contactanos" style="text-decoration: none; color: #000;"> Contactanos</a>
            </div>
            <div class="redes">
                <h4>Redes sociales</h4>
                <a class="rede" routerLink="https://mail.google.com/mail?hl=es">Gmail<i class="fas fa-envelope"></i></a>
                <a class="rede" routerLink="https://www.facebook.com/"> Facebook<i class="fab fa-facebook-square"></i></a>
                <a class="rede" routerLink="https://www.instagram.com/">Instagram<i class="fab fa-instagram-square"></i></a>
            </div>
        </div>
        <div class="copy">
            <p style="text-align:center">© Software automatización de sílabos de la ULEAM- Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>