<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignaturas</title>
</head>

<body>

    <body>
        <div>
            <div class="botones">
                <button class="principal" routerLink="/principal">Salir<i></i></button>
            </div>
        </div>
        <div class="cabecera">
            <img class="logo" src="img/logo.png" alt="">
            <img class="logosilabo" src="img/silabo.png" alt="">
            <h1>Automatización de sílabos</h1>
        </div>

        <div class="container">
            <p>Por favor, seleccione la asignatura que desee:</p>
            <form action="">
                <select onchange="mostrar(this.value)">
                <option value="none">Seleccionar Asignatura</option>
                <option value="materia_1"> Fisica</option>
                <option value="materia_2"> Matemáticas Discretas</option>
                <option value="materia_3">Aplicaciones web1 </option>
                <option value="materia_4">Aplicaciones web2</option>
                <option value="materia_5">Ingenieria de Software1</option>
                <option value="materia_6">Ingenieria de Software2</option>
                <option value="materia_7">Métodos Númericos</option>
                <option value="materia_8">Interfaces y Multimedia</option>
                <option value="materia_9">Redes de computadora</option>
                <option value="materia_10">Gestión de bases de datos</option>
            </select>
            </form>
        </div>
        <h2> <span id="txtInformacion"></span></h2>
        <div id="listadomateria"> </div>
    </body>
</body>

<footer>
    <div class="grid-container">
        <div class="info">
            <h4 center>Sobre nosostros</h4>
            <a routerLink="/sobrenosotros" style="text-decoration: none; color: #000;"> ¿Quienes somos?</a> <br>
            <a routerLink="/contactanos" style="text-decoration: none; color: #000;"> Contactanos</a> <br>
        </div>
        <div class="redes">
            <h4>Redes sociales</h4>
            <a class="rede" routerLink="https://mail.google.com/mail?hl=es">Gmail<i class="fas fa-envelope"></i></a>
            <a class="rede" routerLink="https://www.facebook.com/"> Facebook<i class="fab fa-facebook-square"></i></a>
            <a class="rede" routerLink="https://www.instagram.com/">Instagram<i class="fab fa-instagram-square"></i></a>
        </div>
    </div>
    <div class="copy">
        <p style="text-align:center">© Software automatización de sílabos ULEAM - Todos los derechos reservados.</p>
    </div>
</footer>


</html>