<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>silabos</title>

</head>

<body>

    <body>

        <div class="cabecera">
            <img class="logo" src="img/logo.png" alt="">
            <img class="logosilabo" src="img/silabo.png" alt="">
            <h1>Automatización de sílabos</h1>
        </div>
        <div class="cabecera2">
            <button class="principal" routerLink="/principal">Salir<i></i></button>
        </div>

        <p class="titulo1" onclick="notifica()"> <i class=" fas fa-book-open"></i> Sílabos </p>
        <section class="silabos">
            <div class="grid-container">
                <div class="destacado1">
                    <h2>Silabo 1</h2><br>
                    <img class="imag" src="../../../assets/img/silabo1.jpg" alt="" onclick="notifica()"><br>
                    <h3>Aplicaciones web I</h3>
                    <p><strong>Subido por:</strong> Patricia Quiroz</p>
                    <p><strong>Fecha:</strong> 05/05/2023</p>
                </div>
                <div class="destacado2">
                    <h2>Silabo 2</h2><br>
                    <img class="imag" src="../../../assets/img/silabo2.jpg" alt="" onclick="notifica()"><br>
                    <h3>Modelamiento y Simulación</h3>
                    <p><strong>Subido por:</strong> Henry Mero</p>
                    <p><strong>Fecha:</strong>07/05/2023</p>
                </div>

            </div>
        </section>
        <section class="silabos">
            <div class="grid-container">
                <div class="destacado1">
                    <h2>Sílabo 3 </h2><br>
                    <img class="imag" src="../../../assets/img/img3.jpg" alt=""><br><br>
                    <h3>Gestión de Base de Datos</h3> <br>
                    <p><strong>Docente:</strong> Ing. Robert Moreira Centeno</p>
                    <p><strong>Semestre:</strong> Quinto</p>
                    <p><strong>Carrera:</strong> Tecnología de la Información</p>
                </div>
                <div class="destacado1">
                    <h2>Sílabo 4</h2><br>
                    <img class="imag" src="../../../assets/img/img4.jpg" alt=""><br><br>
                    <h3>Ingeniería de Software I</h3> <br>
                    <p><strong>Docente:</strong> Ing. Jonny Peréz</p>
                    <p><strong>Semestre:</strong> Quinto</p>
                    <p><strong>Carrera:</strong> Tecnología de la Informaciónn</p>
                </div>
            </div>
        </section>
    </body>
    <footer>
        <div class="grid-container">
            <div class="info">
                <h4>Sobre nosostros</h4>
                <a routerLink="/sobrenosotros" style="text-decoration: none; color: #000;"> ¿Quienes somos?</a> <br>
                <a routerLink="/contactanos" style="text-decoration: none; color: #000;"> Contactanos</a>
            </div>
            <div class="redes">
                <h4>Redes sociales</h4>
                <a class="rede" routerLink="https://mail.google.com/mail?hl=es">Gmail<i class="fas fa-envelope"></i></a>
                <a class="rede" routerLink="https://www.facebook.com/"> Facebook<i class="fab fa-facebook-square"></i></a>
                <a class="rede" routerLink="https://www.instagram.com/">Instagram<i class="fab fa-instagram-square"></i></a>
            </div>
        </div>
        <div class="copy">
            <p style="text-align:center">© Software automatización de sílabos ULEAM - Todos los derechos reservados.</p>
        </div>
    </footer>

</body>

</html>